@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,800&display=swap');
html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: 'Arima Madurai', cursive;
  color: #505962
}

.offset:before{
  height: 3.9rem;
  margin-top: -4rem;
  content:"";
  display: block;
}
/*----Navbar---*/

.navbar {
  text-transform: uppercase;
  font-weight: 700 ;
  font-size: .9rem;
  letter-spacing:.1rem;
  background: #FFBC42!important;
}
.navbar-brand img{
  height: 2rem;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link .active{
  color: black !important;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color:black !important;
}
.nav-link{
  color: white !important;
}


/*-- Style Elements--*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.jumbotron{
  border-radius: 0;
  padding: 3rem 0 2rem;
  margin-bottom: 0;
}
h3.heading{
  font-size: 1.9rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 2rem;
}
.heading-underline{
  width: 4rem;
  height: .2rem;
  background-color: #FFBC42;
  margin: 0 auto 2rem;
}
/*---Button---*/
.spc{
  padding: 1rem;
  padding-bottom: 2rem;
}

.changebtn{
  border-color: #FFBC42;
  color: #FFBC42;
}
.changebtn:hover{
  background-color: #FFBC42;
  border-color: #FFBC42;
}
.changebtn:active{
  background-color: #FF595E !important;
  border-color: #FF595E !important;
}
.changebtn:focus{
  background-color: #FF595E!important;
  border-color: #FF595E !important;
}
/*--- Footer ---*/

footer{
  background-color: #878E88;
  color:white;
  padding-bottom: 1rem;
}
footer a{
  color: #fff;
}
footer img{
  height: 4rem;
  margin: 1.5rem auto;
}
hr.socket{
  border-top: .2rem solid #6F7570;
  width:100%;
}
/*--Media Queries--*/

@media (max-width: 767px) {

  .carousel-caption h1{
    font-size: 2.3rem;
    letter-spacing:.15rem;
    padding-bottom: .3rem;
  }
  .carousle-caption h3{
    font-size: 1.2rem;
  }
  .narrow h1{
    font-size: 1.5rem;
  }
  p.lead{
    font-size: 1rem;
  }
  footer{
    padding: 1rem 0 2rem;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
