.top{
  padding-top: 2rem;
}
.card{
  padding-top: 15px !important;
  margin-top: 0;
  margin-left: 1rem;
  overflow: hidden;
}

.card a{
   text-align: center;
}
.card-body p{
  padding-top: 1rem;
}
.card-img-top{
  height: 70%;
  width: 70%;
  margin: auto;
  border: 2px black !important;
  transition: transform .5s ease;
}
.card-img-top:hover{
  transform: scale(1.1);
}
.card-body h4{
  padding-top: 1rem;
}
 .mimg{
   width: 80%;
   height: auto;
   padding: 1rem;
   padding-bottom: 2rem;
 }
.heading{
  margin-top: 3rem;
}
.heading-underline
h4 {
  vertical-align: middle;
}
.container-fluid{
  margin: 3rem !important;
  padding-left: 3rem;
  padding-right: 3rem;
}
h5{
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 75ch;
  word-spacing: .3rem;
  line-height: 1.8rem;
}
.mascots{
  width:75%;
}
.grid-container{
  display: grid;
  grid-template-columns: 45% 55%;
  margin-left: 2rem;
  min-height: 300px;
}
.grid-item{
  padding: 4rem;
  min-height: 300px !important;
}
.highlight > h5{
  color: white;
  /*background-color: #FFBC42;*/
  animation: flash linear 4s infinite;
  border-radius: 5px;
}

@keyframes flash {
  0% {
    background-color: #BA3B46;
  }
  25% {
    background-color : #FFBC42;
  }
  50% { background-color: #BA3B46;
  }
  75% {
    background-color : #FFBC42;
  }
  100% { background-color: #BA3B46;
  }
}
@media (max-width: 767px) {
  .card-body{
    height: 100%;
    min-height: 0;
  }
  .carousel-caption h1{
    font-size: 2.3rem;
    letter-spacing:.15rem;
    padding-bottom: .3rem;
  }
  .carousle-caption h3{
    font-size: 1.2rem;
  }
  .grid-container{
    grid-template-columns: auto;
  }
  .grid-item{
    padding:0;
    margin:0;
    grid-gap: 0;
    min-height: 0!important;
}
  .mascots{
    width:60%;
  }
}
